// Body
$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border-color: $laravel-border-color;

$card-border-color: $laravel-border-color;

// Brands
$primary: #88b04b;
$info: #424B54;
$success: #3097D1;
$light: #ECE4B7;
$dark: #373737;

//$primary: #3097D1;
//$info: #424B54;
//$success: #88b04b;
//$light: #ECE4B7;
//$dark: #373737;

// Typography
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: .875rem; // 14px
$line-height-base: 1.6;
$text-color: #636b6f;

// Inputs
$input-border-color: lighten($text-color, 40%);
$input-placeholder-color: lighten($text-color, 30%);

