
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.overflow-scroll {
  overflow-y: scroll !important;
}