
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import '~pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';

@import "node_modules/font-awesome/scss/font-awesome.scss";

// @import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";

.bg-gray {
    background-color: #eee;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.overflow-scroll-y {
  overflow-y: scroll !important;
}

.card.item {
    & .card-body {
        padding: 1rem;
    }

    & .btn.goto {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}

.overflow-hide-y {
    overflow-y: hidden !important;
}

.overflow-scroll-x {
    overflow-x: scroll !important;
}

.overflow-hide-x {
    overflow-x: hidden !important;
}
