
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// @import '~pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
// @import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";


.btn-primary {
    @extend .text-white;
}


.bg-gray {
    background-color: #eee;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.overflow-scroll-y {
  overflow-y: scroll !important;
}

.card.item {
    .card-body {
        padding: 1rem;
    }

    .btn.goto {
        opacity: 0.8;
        position: absolute;
        top: 1rem;
        right: 1rem;
        border-radius: 50%;
        width: 35px;
        height: 35px;

        &:hover {
            opacity: 1;
        }
        i {
            position: relative;
            left: -2px;
        }
    }
}


.bids-buttons form {
    $radius: 5px;

    button {
        border-radius: 0;
    }

    &:first-child button {
        border-bottom-left-radius: $radius;
        border-top-left-radius: $radius;
    }

    &:last-child button {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
    }
}

.overflow-hide-y {
    overflow-y: hidden !important;
}

.overflow-scroll-x {
    overflow-x: scroll !important;
}

.overflow-hide-x {
    overflow-x: hidden !important;
}

.input-group-text {
    background-color: transparent;
}

.alphabet {
    margin: 0 0 20px;
    background: white;
    width: 100%;

    ul {
        display: inline-block;
        position: relative;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        padding: 15px 30px 15px 0;
        font-size: 18px;
        float: left;
        position: relative;
        text-align: center;
        color: lightgray;
        display: inline;
    }

    li:last-of-type {
        padding: 15px 0;
    }

    li:after {
        content: '|';
        display: block;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 12px;
        color: darkgray;
    }

    li:last-child:after {
        content: '';
    }
}

ul.category_parents {
    list-style-type: none;
    margin: 0;

    > li {
        position: relative;
        padding-bottom: 30px;
    }

    .parent > a {
        font-weight: bold;
        font-size: 16px;
    }

    @each $char in $alphabet {
        li##{$char}:before {
            content: $char;
            position: absolute;
            left: -40px;
            font-size: 28px;
            line-height: 20px;
        }

        li##{$char} ~ li##{$char}:before {
            content: '';
        }
    }

}

.category_children {
    list-style-type: none;
    margin: 0;
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

#navbarContent {
    z-index: 1040;
}

#return-to-top {
    position: fixed;
    z-index: 2000;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: block;
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    text-decoration: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    i {
        color: #fff;
        margin: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        font-size: 28px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}

#return-to-top.hidden {
    visibility: hidden;
    opacity: 0;
}

.rubriek-container {
    position: relative;
}

@-webkit-keyframes movingGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes movingGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes movingGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradient-container {
    margin: 0 0 1.5rem;
    text-align: center;
    background: linear-gradient(270deg, $primary, $dark);
    background-size: 200% 200%;
    -webkit-animation: movingGradient 9s ease infinite;
    -moz-animation: movingGradient 9s ease infinite;
    animation: movingGradient 9s ease infinite;

    h2 {
        padding-bottom: 1rem;
    }

    ul {
        list-style-type: none;
        padding: 1rem 0;
    }

    a {
        margin-top: 1.5rem;
    }

    a:hover {
        color: $dark !important;
    }
}

.gradient-container {
    position: relative;
}

.sidebar {
    position: absolute;
    width: 18rem;
    top: 0;
    left: -21rem;
    margin: 0 1.5rem;

    .sidebar-menu {
        ul {
            list-style: none;
            padding-inline-start: 20px;
            margin: 0;
        }

        > ul {
            padding-inline-start: 0;
        }
    }
}

.category-management {
    float: right;
}

.rubriek-info {
    font-size: 13px;
    font-style: italic;
    margin-top: -12px;
    margin-bottom: 20px;
}

@media (max-width: 1800px) {
    .rubriek-container {
        left: 162px;
    }
}

@media (max-width: 1470px) {
    .rubriek-container {
        left: auto;
    }

    .sidebar {
        position: relative;
        width: 100%;
        top: auto;
        left: auto;
        margin: auto;
    }
}

@media (max-width: 1200px) {
    .alphabet {
        li {
            padding: 15px 24px 15px 0;
        }

        li:after {
            right: 9px;
        }
    }
}

@media (max-width: 992px) {
    .alphabet {
        li {
            font-size: 16px;
            padding: 15px 16px 15px 0;
        }

        li:after {
            right: 5px;
        }
    }

    .category_children {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 768px) {
    .alphabet {
        li.inactive {
            display: none;
        }
    }
}

@media (max-width: 576px) {
    .category_children {
        padding: 0;
        -moz-column-count: 1;
        -moz-column-gap: 0;
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
        column-count: 1;
        column-gap: 0;
    }
}


.shadow {
    box-shadow: 0 7px 7px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22) !important;
    transition: box-shadow 50ms ease-in-out;
    &:hover {
        box-shadow: 0 3.5px 3.5px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22) !important;
    }
}

.input-group-text {
    border: inherit !important;
}

.auction-form-wrapper .form-group label {
    font-size: 1.4rem;
    color: $light !important;
}

.truncate {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.word-break {
    word-break: break-word;
}
